<h1>
  Add a new payment adjustment!
</h1>


<hr>

<form action="/create_pmt_adjustment" method="post">

  <div class="form-group">
    <label for="payment_occurence">Payment occurence</label>
    <select class="form-control" id="payment_occurence" name="payment_occurence">
      <option>Recurring</option>
      <option>One Time</option>
      <option>Between</option>
    </select>
  </div>

  <div class="form-group">
    <label for="loan_id">
      What loan does this apply to? (<a href="/loans/new"> Click here</a> to add a new loan!)
    </label>

    <select class="form-control" id="loan_id" name="loan_id">
      <% current_user.loans.each do |loan| %>
      <option value="<%= loan.id %>"><%=loan.loan_name %></option>
      <% end %>
    </select>
  </div>

  <!--Captures Current User ID for Loan-->
  
  <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%=current_user.id %>">

  <div class="form-group">
    <label for="pmt_adjustment">
      Payment Adjustment
    </label>

    <input type="text" id="pmt_adjustment" name="pmt_adjustment" class="form-control">
  </div>

  <div class="form-group">
    <label for="beg_pay_adj">
      Beginning Period for Pay Adjustment
    </label>

    <input type="text" id="beg_pay_adj" name="beg_pay_adj" class="form-control">
  </div>

  <div class="form-group">
    <label for="end_pay_adj">
      Ending Period for Pay Adjustment
    </label>

    <input type="text" id="end_pay_adj" name="end_pay_adj" class="form-control">
  </div>

  <div class="form-group">
    <label for="adjustment_details">
      Adjustment details
    </label>

    <input type="text" id="adjustment_details" name="adjustment_details" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create payment adjustment
  </button>
</form>

<hr>

<a href="/pmt_adjustments">
  Go back
</a>
